@model PointViewModel

<div class="form-row">
        <div class="form-item">
            <label asp-for="X"></label>
            <input asp-for="X" />
            <span asp-validation-for="X" class="error-message"></span>
        </div>
        <div class="form-item">
            <label asp-for="Y"></label>
            <input asp-for="Y" />
            <span asp-validation-for="Y" class="error-message"></span>
        </div>
</div>
