:root {
    --nav-link-font-weight: 300;
    --color-header-background: #262626;
    --color-header-text: white;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.header-image {
    width: 62px;
    height: 100%;
    margin: 0 0 0 2rem;
}

.header-image a {
    display: inline-block;
    height: 100%;
}

.header-image a img {
    width: 100%;
    height: 100%;
}

.header-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header-nav li {
    list-style: none;
}

.header-nav li a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: var(--color-header-text);
    font-weight: var(--nav-link-font-weight);
    padding: 1rem;
}

.header-nav li a:hover {
    background-color: hsl(var(--color-base-hue), 100%, 36%);
}

.header-nav li form {
    height: 100%;
    cursor: pointer;
}

.header-nav li form button {
    height: 100%;
    padding: 1rem;
    border: none;
    background: none;
    color: var(--color-header-text);
    font-family: 'Gotham Rounded';
    font-weight: var(--nav-link-font-weight);
    font-size: inherit;
    cursor: pointer;
}

.header-nav li form:hover {
    background-color: hsl(var(--color-base-hue), 100%, 36%);
}