.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.info-card {
    flex-grow: 0;
    flex-basis: 0;
    flex-shrink: 1;
    height: 100%;
}

.info-card-text {
    margin: 1rem 0;
    text-align: center;
    border-bottom: 1px solid black;
}

.info-card-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
