.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.project-card {
    flex-grow: 0;
    height: 100%;
}

.project-card-project-name {
    margin: 1rem;
    text-align: center;
    border-bottom: 1px solid black;
}

.project-card-structure-type {
    margin: 1rem;
    text-align: center;
    border-bottom: 1px solid black;
}

.project-card-buttons {
    display: flex;
    justify-content: space-between;
}
