@model MomentViewModel

<div class="form-row">
    <div class=form-item>
        <label asp-for="Magnitude"></label>
        <input asp-for="Magnitude" />
        <span asp-validation-for="Magnitude" class="error-message"></span>
    </div>
</div>