@inject SignInManager<ApplicationUser> signInManager

@{
    ViewBag.Title = "Structural Mechanics";
}

@if (!signInManager.IsSignedIn(User))
{
    <div class="info-message">Please Sign In or Sign Up</div>
}
else
{
    <h2>Hello!</h2>
}