@{
    ViewBag.Title = ViewBag.ProjectName;
}

<div class="structure-overview">
    <div class="display-construction">
        <h1 class="info-message">Structure Display: to be implemented...(Not a priority)</h1>
    </div>
    <hr class="main-hr"/>
    <div class="overall-information">

    </div>
</div>