@model ProjectViewModel

@{
    ViewBag.Title = "Create Project";
}

@section SidebarNavigation {
    <ul>
        <li><a asp-controller="Projects" asp-action="Index">Back</a></li>
    </ul>
}

<form method="post" asp-controller="Projects" asp-action="Create">
    <partial name="_FormFields"/>
    <div class="form-row">
        <div asp-validation-summary="All" class="error-message"></div>
    </div>
    <hr class="main-hr" />
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <script src="~/js/ProjectFormChecks.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        window.onload = structureTypeChanged(@((int)StructureType.ThinWalledStructure));
    </script>
}