@model CreateProjectViewModel

@{
    ViewBag.Title = "Create Project";
}

<form method="post" asp-controller="Projects" asp-action="Create">
    <div class="form-row">
        <div asp-validation-summary="All" class="error-message"></div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label asp-for="ProjectName"></label>
            <input asp-for="ProjectName" />
            <span asp-validation-for="ProjectName" class="error-message"></span>
        </div>
        <div class="form-item">
            <label asp-for="StructureType"></label>
            <select id="structureTypes" asp-for="StructureType" asp-items="Html.GetEnumSelectList<StructureType>()" onChange="structureTypeChanged()">
                <option value="">Please select structure type</option>
            </select>
            <span asp-validation-for="StructureType" class="error-message"></span>
        </div>
    </div>
    <div id="thinWalledStructure" class="form-row" style="display: none;">
        <div class="form-item">
            <label asp-for="ThinWalledStructureType"></label>
            <select id="thinWalledStructureTypes" asp-for="ThinWalledStructureType" asp-items="Html.GetEnumSelectList<ThinWalledStructureType>()">
                <option value="">Please select thin-walled type</option>
            </select>
            <span asp-validation-for="ThinWalledStructureType" class="error-message"></span>
        </div>
    </div>
    <hr class="main-hr" />
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <script type="text/javascript">
        function structureTypeChanged() {
            var select = document.getElementById("structureTypes");
            if (select.options[select.selectedIndex].value == @((int)StructureType.ThinWalledStructure)) {
                document.getElementById("thinWalledStructure").style.display = "flex";  
            }
            else {
                document.getElementById("thinWalledStructure").style.display = "none";
            }
        } 
    </script>
}