@model ProjectViewModel

@{
    ViewBag.Title = "Edit Project";
}

@section SidebarNavigation {
    <ul>
        <li><a asp-controller="Projects" asp-action="Index">Back</a></li>
    </ul>
}

<form method="post" asp-controller="Projects" asp-action="Edit">
    <partial name="_FormFields" />
    <div class="form-row">
        <div asp-validation-summary="All" class="error-message"></div>
    </div>
    <hr class="main-hr" />
    <button type="submit" class="btn btn-primary">Update</button>
</form>