@model CreateProjectViewModel

@{
    ViewBag.Title = "Edit Project";
}

@section SidebarNavigation {
    <div class="sidebar-nav">
        <ul>
            <li><a asp-controller="Projects" asp-action="Index">Back</a></li>
        </ul>
    </div>
}

<form method="post" asp-controller="Projects" asp-action="Edit">
    <div class="form-row">
        <div asp-validation-summary="All" class="error-message"></div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label asp-for="ProjectName"></label>
            <input asp-for="ProjectName" />
            <span asp-validation-for="ProjectName" class="error-message"></span>
        </div>
        <div class="form-item">
            <label asp-for="StructureType"></label>
            <input disabled asp-for="StructureType"/>
            <span asp-validation-for="StructureType" class="error-message"></span>
        </div>
    </div>
    @if (Model.StructureType == StructureType.ThinWalledStructure)
    {
        <div id="thinWalledStructure" class="form-row">
            <div class="form-item">
                <label asp-for="ThinWalledStructureType"></label>
                <select id="thinWalledStructureTypes" asp-for="ThinWalledStructureType" asp-items="Html.GetEnumSelectList<ThinWalledStructureType>()">
                    <option value="">Please select thin-walled type</option>
                </select>
                <span asp-validation-for="ThinWalledStructureType" class="error-message"></span>
            </div>
        </div>
    }
    <hr class="main-hr" />
    <button type="submit" class="btn btn-primary">Update</button>
</form>