@model IEnumerable<Project>

@section Menu {
    <div class="menu">
        <a href="#">Hello World</a>
        <a href="#">Hello World2</a>
    </div>
}

@if (Model != null)
{
    foreach (Project project in Model)
    {
        <div>
            <div class="projectName">
                @project.ProjectName
            </div>
            <div>
                <a asp-controller="Project" asp-action="Show">Show</a>
                <a asp-controller="Project" asp-action="Edit">Edit</a>
                <a asp-controller="Project" asp-action="Delete">Delete</a>
            </div>
        </div>
    }
}
else
{
    <h1>There's no projects! Create one.</h1>
    <a asp-controller="Project" asp-action="Create">Create</a>
}