@model IEnumerable<Project>

@{
    ViewBag.Title = "My Projects";
}

@section Menu {
    <div class="menu">
        <a href="#">Hello World</a>
        <a href="#">Hello World2</a>
    </div>
}

@if (Model != null)
{
    foreach (Project project in Model)
    {
        <div>
            <div class="projectName">
                @project.ProjectName
            </div>
            <div>
                <a asp-controller="Projects" asp-action="Show">Show</a>
                <a asp-controller="Projects" asp-action="Edit">Edit</a>
                <a asp-controller="Projects" asp-action="Delete">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="info-message">
        <h1>There's no projects! Create one.</h1>
        <a asp-controller="Projects" asp-action="Create">Create</a>
    </div>   
}