@model CrossSectionPartViewModel

<div class="form-row">
    <div class="form-item">
        <label asp-for="FirstPointId"></label>
        <select asp-for="FirstPointId" asp-items="@Model.Points">
        </select>
        <span asp-validation-for="FirstPointId" class="error-message"></span>
    </div>
    <div class="form-item">
        <label asp-for="SecondPointId"></label>
        <select asp-for="SecondPointId" asp-items="@Model.Points">
        </select>
        <span asp-validation-for="SecondPointId" class="error-message"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label asp-for="Type"></label>
        @if (Model.IsCreateView)
        {
            <select asp-for="Type" asp-items="Html.GetEnumSelectList<CrossSectionPartType>()">
            </select>
        }
        else
        {
            <input hidden asp-for="Type" value="@Model.Type" />
            <input readonly value="@StructuralMechanics.Utilities.EnumDisplayHelper.GetDisplayName(Model.Type)" />
        }
        <span asp-validation-for="Type" class="error-message"></span>
    </div>
    <div class=form-item>
        <label asp-for="Thickness"></label>
        <input asp-for="Thickness" />
        <span asp-validation-for="Thickness" class="error-message"></span>
    </div>
</div>