@model ChangePasswordViewModel

<h2>Change Password</h2>
<hr />
<form method="post">
    <div class="form-row">
        <div asp-validation-summary="All" class="error-message"></div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label asp-for="CurrentPassword"></label>
            <input asp-for="CurrentPassword" />
            <span asp-validation-for="CurrentPassword" class="error-message"></span>
        </div>  
    </div>
    <div class="form-row">
        <div class="form-item">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" />
            <span asp-validation-for="NewPassword" class="error-message"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="error-message"></span>
        </div> 
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>