@model LoginViewModel

@{
    ViewBag.Title = "User Login";
}

<h1>User Login</h1>

<form method="post">
    <div class="form-row">
        <div asp-validation-summary="All" class="error-message"></div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="error-message"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="error-message"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label class="checkbox" asp-for="RememberMe">
                <div><input asp-for="RememberMe" /></div>
                <span>@Html.DisplayNameFor(m => m.RememberMe)</span>
            </label>
        </div>
    </div>    
    <button type="submit" class="btn btn-primary">Login</button>
</form>