@inject SignInManager<ApplicationUser> signInManager
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link id="main-css" href="~/css/main.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <nav class="header-nav">
                <div class="header-nav-image">
                    <a asp-controller="Home" asp-action="Index"><img src="~/images/bridge.png" /></a>
                </div>
                @if (!signInManager.IsSignedIn(User))
                {
                    <ul>
                        <li><a asp-controller="Account" asp-action="Login">Sign In</a></li>
                        <li><a asp-controller="Account" asp-action="Register">Sign Up</a></li>
                    </ul>
                }
                else
                {
                    <ul>
                        <li><a asp-controller="Projects" asp-action="Index">My Projects</a></li>
                        <li>
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                    <button class="header-nav-button" type="submit">
                                            Sign out
                                    </button>
                                    @*<a onclick="this.parentElement.submit()">Sign out</a>*@
                            </form>
                        </li>
                        @*<li><a asp-controller="Account" asp-action="Logout">Sign out</a></li>*@
                    </ul>
                }
            </nav>
        </header>
        <div class="inner-container">
            <div class="sidebar-inner-container">
                @if (IsSectionDefined("Menu"))
                {
                    @RenderSection("Menu")
                }
            </div>
            <div class="middle-inner-container">
                @RenderBody()
            </div>
            <div class="sidebar-inner-container">

            </div>
        </div>
        <footer class="footer">
            <h3>2022</h3>
        </footer>
    </div>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts");
    }
</body>
</html>
