<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>

    </div>
    <div>
        <div>

        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    <div></div>
</body>
</html>
